$mobile:  768px;
$to-tablet: 1023.98px;
$tablet :1024px;
$to-desktop: 1439.98px;
$desktop: 1700px;

$white:rgba(255, 255, 255, 1);
$text:rgba(80, 78, 74, 1);
$black:rgba(0, 0, 0, 1);
$logo:rgba(185, 39, 112, 1);
$hero_bg:rgba(231, 232, 233, 1);
$hover_event:blue;