@use "base/reset" as *;
@use "base/fonts" as *;
@use "abstracts/variables" as *;
@use "components/buttons" as *;
@use "abstracts/mixins" as *;
@use "layouts/header.scss" as *;

body {
  background-color: $white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 21px;
  font-style: normal;
  color: $black;
}


html, body { height: 100%; ;}
body { display: flex; flex-direction: column; }
main { flex: 1; } 
footer { margin-top: auto; } 

.container {
  
  padding-left: 200px;
  padding-right: 200px;
  max-width:$desktop;
}

.hero_section {
  margin: 0 auto;
  background-color: $hero_bg;
}
.hero__first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero__text_container {
  order: 1;
  padding-top: 218px;
  padding-bottom: 454px;
}
.hero__image{
  padding-top: 116px;
  order: 2;
  max-width: 766px;
  max-height: 625px;}
.hero__title{
  max-width: 486px;
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 31px;
}

.hero__text{
  max-width: 640px;
  font-size: 17px;
  color: $text;
  padding-bottom: 30px;
}
.hero__second{
  display: flex;
  max-width: 1300px;
  background-color: $white;
  position: absolute;
  top: 972px;
}
.hero__info{
  width: 50%;
}
.header__info_img{
  width: 50%;
   background-image: image-set(
    url("../assets/img/hero_second.png") 1x,
    url("../assets/img/hero_second2x.png") 2x
  );
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}